.signup-container {
    position: relative;
    min-height: 100vh;
  }

  .signup-bg{
    background-image: url('https://wallpaper-house.com/data/out/11/wallpaper2you_471729.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .signup-container .text-center {
    margin-top: 2rem;
  }
  
  .signup-container form {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 8px 16px rgba(224, 216, 216, 0.7);
  }
  
  .signup-container form .form-group {
    margin-bottom: 1rem;
  }
  
  .signup-container form .form-control {
    border-radius: 0.25rem;
  }
  
  .signup-container form .alert {
    margin-bottom: 1rem;
  }

  .password-input{
    position: relative;
  }

  .password-toggle{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  