.background-color-1 {
    /* background-color: #3a3a49; */
    background-color: rgba(0, 0, 0, 0.4);
  }
  
.background-color-2 {
    /* background-color: #3a3a49; */
    background-color: #5d5d5d;
    opacity: 1;

  }

  .background-color-2   .active-route {
    color: #ffffff !important;
    font-weight: 500;
  }

  /* .nav-position{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999;
  } */
  
  .active-route {
    color: #e2a5af !important;
    font-weight: 500;
  }
  
  .img-control {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  
  .background-color a {
    text-decoration: none;
    color: #61da6f;
    margin: 5px 5px;
  }

  .background-color-2 a {
    text-decoration: none;
    color: #1d231e;
    margin: 5px 5px;
  }
  
  .logo-img {
    width: 50px;
  }

  .fancy-font {
    font-family: 'FancyFont', cursive;
  }
  
  @media (max-width: 768px) {
    .active-route {
      color: #d4808d !important;
      background-color: #e2e1e1;
      padding: 2px;
      border-radius: 2px;
      font-weight: 500;
    }
  }
  