.login-container {
    position: relative;
    min-height: 90vh;
  }

  .bg-image{
    background-image: url('https://static.vecteezy.com/system/resources/previews/009/858/310/original/dark-blue-background-with-music-symbols-vector.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .login-container .text-center {
    margin-top: 2rem;
  }
  
  .login-container .form-cont {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.7);
  }
  
  .login-container form .form-group {
    margin-bottom: 1rem;
  }
  
  .login-container form .form-control {
    border-radius: 0.25rem;
  }

  .login-container i:hover{
    scale: 1.4;
    transition: 0.4s ease-in-out;
    color: aqua;
  }
  
  .login-container form .alert {
    margin-bottom: 1rem;
  }
  