.login-container {
    position: relative;
    min-height: 80vh;
  }

  .bg-image{
    background-image: url('https://cdn.wallpapersafari.com/93/57/kpGMFg.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .login-container .text-center {
    margin-top: 2rem;
  }
  
  .login-container form {
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
  }
  
  .login-container form .form-group {
    margin-bottom: 1rem;
  }
  
  .login-container form .form-control {
    border-radius: 0.25rem;
  }
  
  .login-container form .alert {
    margin-bottom: 1rem;
  }
  